:root {
  --primary-font: "Jost", sans-serif;
  --font-link-color: #e3796a;  
  --border-color: rgb(255 255 255 / 20%);
  --action-background-color: #e3796a;
}

/* Reset default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML and body */
html {
  min-height: 100%;
}

body {
  font-family: var(--primary-font), sans-serif;
  background: #33496c;
  color: white;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #000e2de6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0000001a;
  max-width: 1600px;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.rojo-texto {
  color: #e3796a;
}

.verde {
  background-color: #369b65;
}

.rojo {
  background-color: #e3796a;
}

.azul {
  background-color: #4180ed;
}

.gris {
  background-color: #7e8da6;
}

.disco-info {
  border: 2px solid #ffffff; 
  border-radius: 8px;       
  padding: 15px;            
  margin-bottom: 20px;      
  color: #fff;           
}

.no-disco {
  color: red;
  font-weight: bold;
}

.pistas-list {
  margin: 10px 0;
  padding-left: 20px;
}

.pistas-list li {
  margin-bottom: 5px;
}

.web {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;

  > header {
    padding: .5rem 1rem;
    text-align: center;
    color: var(--title-font-color);
    border-bottom: 1px solid var(--border-color);
  }

  > footer {
    padding: 1rem;
    border-top: 1px solid var(--border-color);

    > ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      flex-wrap: wrap;
    }
  }

  > main {
    line-height: 1.6em;
    padding: 1rem;

    .consigna {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--border-color);

      h2 {
        margin-bottom: 1rem;
        color: var(--title-font-color);
      }
    }
  }
}

button {
  font-weight: 600;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: filter 200ms ease;
  color: #ffffff;
  border-radius: 3px;
  background-color: var(--action-background-color);
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    filter: brightness(1.2);
  }
}

.form-control {
  margin-bottom: .5rem;
}

label {
  display: block;
  margin-bottom: .5em;
}

input {
  font-family: inherit;
  font-size: inherit;
  min-width: 3rem;
  padding: .3rem .3rem .3rem 1rem;
  color: var(--primary-font);
  border: 1px solid #888888;
  border-radius: 3px;
  background: #0003 ;
}

code {
  font-weight: 700;
  font-family: Consolas,Lucida Console,Menlo,Monaco,monospace;
  padding: 1px 2px;
  background: #282a36;
  border-radius: 2px;
  color: #9ea7b7;
}

ul,
ol {
  padding-left: 2rem;
}

pre {
  & code {
    font-weight: 300;
    background-color: transparent;
  }
}